{%extends "index.html"%}
{% load crispy_forms_tags %}
{%block content%}

<div class="container mx-auto p-2 mt-2">
    <ul class="list-inline">
        <li class="list-inline-item">
            <a href="{%url 'create'%}" class="btn btn-primary"><i class="fa-sharp fa-solid fa-plus"></i>&nbsp;Add Employee</a>
        </li>
    </ul>

    <table class="table table-sm table-success table-striped-columns">
        <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Firstname</th>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">Gender</th>
              <th scope="col">DOB</th>
              <th scope="col">Send Update</th>
              <th scope="col">Photo</th>
              <th scope="col">Update</th>
              <th scope="col">Delete</th>

            </tr>
        </thead>
        <tbody class="table-group-divider">
            {%for employee in employee_list%}
            <tr>
              <th scope="row">{{forloop.counter}}.</th>
              <td><img src="{{employee.photo.url}}" class="rounded-circle" width="50px" height="50px">&nbsp;&nbsp;{{employee.firstname}}</td>
              <td>{{employee.name}}</td>
              <td>{{employee.email}}</td>
              <td>{{employee.get_gender_display}}</td>
              <td>{{employee.date_of_birth}}</td>
              <td>{{employee.send_update}}</td>
              <td>Photo</td>
              <td><a href="{%url 'update' pk=employee.pk%}"><i class="fa-solid fa-user-pen fa-2x"></i></a></td>
              <td><a href="#employeeModel{{employee.pk}}" data-bs-target="#employeeModel{{employee.pk}}" data-bs-toggle="modal"><i class="fa-solid fa-user-minus text-danger fa-2x"></i></a></td>
            </tr>

            <div class="modal fade" id="employeeModel{{employee.pk}}" aria-hidden="true" aria-labelledby="employeeModalToggleLabel" tabindex="-1">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <div>
                        <h1 class="modal-title fs-5" id="exampleModalToggleLabel">Are you sure, you want to delete {{employee.name}}'s detail ?</h1>
                        <ul class="list-inline text-end">
                            <li class="list-inline-item">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </li>
                            <li class="list-inline-item">
                                <a href="{%url 'delete' pk=employee.pk%}" class="btn btn-danger">Delete</a>
                            </li>
                          </ul>
                      </div>

                    </div>
                  </div>
                </div>
              </div>

            {%endfor%}
        </tbody>
    </table>
</div>

{%endblock%}